body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(216, 207, 25);
    background-size: cover;
    background-position: center;
}
body::before {
    content: "Kakao";
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15em; 
    font-weight: bold;
    color: rgb(0, 0, 0);
    z-index: -0.5;
}
.signup4 {
    background-color: rgb(216, 207, 25);
    width: 300px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.signup4 h2{
    text-align: center;
    color: #ffffff;
}
.signup4 label{
    color:#ffffff;
    margin-bottom: 8px;
    font-weight:bold;
    position: fixed;
    z-index: 2;
}
.signup4 input{
    position: relative;
    width: 80%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 80%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.848);
    border-radius: 20px;
    font-size: 16px;
    color: #000000;
    padding: 10px 25px 10px 10px;
}
.input-box input::placeholder{
    color: #ffffff;
}
.signup4 button{
    
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.signup4 button:hover {
    background-color:rgb(241, 255, 47);
}
.signup4 form {
    display: flex;
    flex-direction: column;
    border: #000000;
}
